<div class="container">
  <header>
    <h1 class="glow-title">Login</h1>
  </header>

  <div class="auth-container">
    <form [formGroup]="form" (ngSubmit)="login()">
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        class="auth-input"
      />

      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Password"
          class="auth-input"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="toggle-btn"
        >
          {{ showPassword ? '🙈' : '👁️' }}
        </button>
      </div>

      <!-- Error message display -->
      <div class="error" *ngIf="error">{{ error }}</div>

      <button type="submit" class="auth-btn" [disabled]="form.invalid">
        Login
      </button>

      <p class="signup-redirect">
        Don’t have an account?
        <a routerLink="/signup" class="signup-link">Signup</a>
      </p>
    </form>
  </div>
</div>
